html, body, div, p, a {
	margin: 0;
	padding: 0;
	border: 0;
}

a, a:visited, a:hover, a:active {
	text-decoration: none;
}

html {
  	font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}
/*@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}*/

header {
	text-align: center;
	padding: 1rem;
  	color: rgba(255,255,255,.5);
  	background-color: #202039;
  	background: repeating-linear-gradient(
	  45deg,
	  #202039,
	  #202040 5px
	);
}


header h1 {
	display: inline;
	color: #fff;
	font-family: "Abril Fatface", serif;
	font-size: 2.3rem;
}

header a, header a:visited {
	font-size: 3rem;
	color: inherit;
}

header a:hover, header a:active {
	color: #fff;
}

header nav a {
	display: block;
	font-size: 1rem;
}

.avatar div {
	display: inline-block;
	background-image: url(images/avatar.jpg);
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-size: contain;
}

@media (min-width: 54rem) {
	header {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 18rem;
		text-align: left;
	}

	.personal-info {
		position: absolute;
		bottom: 1rem;
		left: 1rem;
		right: 1rem;
		padding-left: 60px;
	}

		.personal-info > .avatar {
			position: absolute;
			left: -50px;
		}
}

.main-content {

}

@media (min-width: 54rem) {
	.main-content {
		margin-left: 20rem;
	}
}

article {
	padding: 0 2rem;
}

article a {
	color: #202039;
	
}

article a:hover {
	text-decoration: underline;
}

article a h2 {
	color: #202039;
}

article section {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2rem;
	line-height: 1.8rem;
}

	article section a {
		text-decoration: underline !important;
	}

article time {
	opacity: 0.5;
}